altgraph==0.17
appdirs==1.4.4
asgiref==3.2.3
astroid==2.4.2
Babel==2.9.0
blinker==1.4
buttercms-python==0.7
cachelib==0.1.1
certifi==2020.6.20
chardet==3.0.4
Click==7.0
colorama==0.4.4
cs50==5.1.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.4.1
filelock==3.0.12
Flask==1.0.0
Flask-Babel==0.11.2
Flask-Cors==3.0.2
Flask-FlatPages==0.7.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-Session==0.3.2
Flask-SQLAlchemy==2.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
Frozen-Flask==0.15
future==0.18.2
gunicorn==19.7.1
hashcat==5.1.0.post3
idna==2.10
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.3
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
micawber==0.5.2
numpy==1.19.4
oauthlib==3.1.0
pbr==5.5.1
peewee==3.14.0
pefile==2019.4.18
pep8==1.7.0
Pillow==8.0.1
psycopg2==2.8.6
Pygments==2.4.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pylint==2.6.0
PyMySQL==0.9.3
pynput==1.7.1

PyQtWebEngine==5.15.2
PySocks==1.7.1
python-dateutil==2.6.0
python3-openid==3.2.0
pytz==2020.4
pywin32-ctypes==0.2.0
PyYAML==5.1.2
redis==2.10.5
requests==2.12.4
requests-oauthlib==0.8.0
selenium==3.141.0
six==1.15.0

Tempita==0.5.2
termcolor==1.1.0
toml==0.10.2
tweepy==3.9.0
urllib3==1.25.11
virtualenv==15.1.0
virtualenvwrapper-win==1.2.6
Werkzeug==0.14
whitenoise==2.0.6
Whoosh==2.7.4
wrapt==1.12.1
WTForms==2.1

